<div class="auth-container">
    <h2>ENTRAR</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu email aqui" required autocomplete="off">
            <label for="senha">Digite sua senha:</label>
            <input type="password" name="senha" placeholder="Digite sua senha aqui" required autocomplete="off">     
            <input type="submit" value="Enviar" id="enviar">
            <p>Ainda não tem uma conta? Clique <a href="/register">aqui</a> para criar uma!</p>
        </div>
    </form>
</div>