<div class="auth-container">
    <h2>REGISTRAR</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome aqui" required>
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu email aqui" required>
            <label for="senha">Crie uma senha:</label>
            <input type="password" name="senha" placeholder="Digite sua senha aqui" autocomplete="off">     
            <input type="submit" value="Enviar" id="enviar">
            <p>Já tem uma conta? Clique <a href="/login">aqui</a> para logar!</p>
        </div>
    </form>
</div>