<div class="tought-form-container">
    <a href="/toughts/painel">Voltar</a>
    <h1>Criando pensamento:</h1>
    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="titulo"></label>
            <input type="text" name="titulo" placeholder="Digite aqui seu pensamento" required>
        </div>
        <input type="submit" value="Criar pensamento">
    </form>
</div>